Dashboard.json
[
    {
        "id": "26da8ec8a60a9d75",
        "type": "tab",
        "label": "Desktop",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dda04585d20830a9",
        "type": "mqtt in",
        "z": "26da8ec8a60a9d75",
        "name": "EnvironIngest",
        "topic": "box/environ",
        "qos": "2",
        "datatype": "auto",
        "broker": "67b58dab33c9118c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "2418909845efda7f",
                "185e3b9fcda98629",
                "bd1455aba8d69b12",
                "e7c49100f19e6aab"
            ]
        ]
    },
    {
        "id": "86991f0964e90108",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "tempGetter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nvar json = {\"topic\":\"temp\",\n    \"payload\":p[\"T\"]\n}\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 40,
        "wires": [
            [
                "5e56eb834c7783fe"
            ]
        ]
    },
    {
        "id": "2418909845efda7f",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "d": true,
        "name": "Environ to console",
        "func": "\n\nconsole.log(msg.payload)\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c17e7f1d49086e7f",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "co2getter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nglobal.set(\"co2\",p[\"co2\"]);\n\nvar json = {\"topic\":\"co2\",\n    \"payload\":p[\"co2\"]\n}\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 100,
        "wires": [
            [
                "5b707a8c12cc868f"
            ]
        ]
    },
    {
        "id": "d5c31c65e2b3e2fe",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "humidityGetter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nvar json = {\"topic\":\"humidity\",\n    \"payload\":p[\"RH\"]\n}\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "93fe1f0bd4359cb9"
            ]
        ]
    },
    {
        "id": "5d73c6ba0deb6825",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "exhaust power control",
        "topic": "box/control/exhaust",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1160,
        "y": 720,
        "wires": []
    },
    {
        "id": "fc34d514afc4651b",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "dehumidifierStateGetter",
        "func": "var p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"dehumidState\"]) {\n    value  = 1\n}\nelse{\n    value  = 0\n}\n\n\n\nvar json = {\"topic\":\"dehumidifierState\",\n    \"payload\":value\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 240,
        "wires": [
            [
                "2e3e5e2ac8bb5f39",
                "e31045171627fcdf"
            ]
        ]
    },
    {
        "id": "7fbf4177de5abb5e",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "Dehumidifier bounds getter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nvar boundsText = p[\"lowerBound\"] + \" - \" + p[\"upperBound\"]\n\nvar json = {\"topic\":\"bounds\",\n    \"payload\": boundsText\n}\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 640,
        "wires": [
            [
                "c24c2453aa21d0fa"
            ]
        ]
    },
    {
        "id": "40aff9772cd6b366",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "topic": "box/control/dehumidifier/auto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1180,
        "y": 360,
        "wires": []
    },
    {
        "id": "e35dfd104af04611",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "topic": "box/control/dehumidifier/press",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "2079b9a05a59e9c0",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "automatic dehumidifer control getter",
        "func": "\nvar p = JSON.parse(msg.payload)\nif(!p.hasOwnProperty(\"autoDehumid\")){return;}\n\nvar value =\"\"\nif (p[\"autoDehumid\"]) {\n    value  = \"on\"\n}\nelse {\n    value  = \"off\"\n}\n\n\n\nvar json = {\"topic\":\"autoDehumid\",\n    \"payload\": value\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "5bf7860e0bc7ac99"
            ]
        ]
    },
    {
        "id": "e31045171627fcdf",
        "type": "ui_switch",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "label": "Dehumidifier state",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 10,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "e35dfd104af04611"
            ]
        ]
    },
    {
        "id": "5bf7860e0bc7ac99",
        "type": "ui_switch",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "label": "auto dehumidifier control?",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 13,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 930,
        "y": 360,
        "wires": [
            [
                "40aff9772cd6b366"
            ]
        ]
    },
    {
        "id": "42f49d5e6049d286",
        "type": "ui_slider",
        "z": "26da8ec8a60a9d75",
        "name": "fanControlInput",
        "label": "ExhaustPower",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 760,
        "wires": [
            [
                "5d73c6ba0deb6825"
            ]
        ]
    },
    {
        "id": "c24c2453aa21d0fa",
        "type": "ui_text",
        "z": "26da8ec8a60a9d75",
        "d": true,
        "group": "49b8362b1f102d88",
        "order": 9,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "Dehumidifier bounds",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 640,
        "wires": []
    },
    {
        "id": "5e56eb834c7783fe",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "temp",
        "group": "49b8362b1f102d88",
        "order": 4,
        "width": "12",
        "height": "4",
        "label": "Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5b707a8c12cc868f",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "co2chart",
        "group": "49b8362b1f102d88",
        "order": 1,
        "width": "12",
        "height": "5",
        "label": "co2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "400",
        "ymax": "1500",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9869c3",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "93fe1f0bd4359cb9",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "HumidityChart",
        "group": "49b8362b1f102d88",
        "order": 5,
        "width": "12",
        "height": "5",
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "90",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2e3e5e2ac8bb5f39",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "DehumidiferStateChart",
        "group": "49b8362b1f102d88",
        "order": 6,
        "width": "12",
        "height": "3",
        "label": "Dehumidifer State",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab473525134d175f",
        "type": "file",
        "z": "26da8ec8a60a9d75",
        "name": "Save to ~/environ",
        "filename": "/home/pi/environ.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 270,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0c5d1ad61cebc300",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "environ trimmer",
        "func": "var p = JSON.parse(msg.payload)\n\nvar time = new Date();\n\nvar json = {\"time\":time.getTime(),\n    \"temp\":p[\"T\"], \"humidity\":p[\"RH\"], \"co2\":p[\"co2\"], \"vpd\":p[\"vpd\"]\n}\n\nmsg.payload = json;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 440,
        "wires": [
            [
                "ab473525134d175f"
            ]
        ]
    },
    {
        "id": "0ea4accf39062632",
        "type": "ui_slider",
        "z": "26da8ec8a60a9d75",
        "name": "setlowerHumidityBound",
        "label": "lower humid bound",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 11,
        "width": "8",
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "40",
        "max": "80",
        "step": "0.1",
        "className": "",
        "x": 870,
        "y": 520,
        "wires": [
            [
                "880f5debc7625235"
            ]
        ]
    },
    {
        "id": "880f5debc7625235",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "send lowbound",
        "topic": "box/control/dehumidifier/lower",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1140,
        "y": 500,
        "wires": []
    },
    {
        "id": "10d1b97823cb29e9",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "lowerboundgetter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\n\n\n\n\nvar json = {\"topic\":\"lowerbound\",\n    \"payload\": p[\"lowerBound\"] \n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "0ea4accf39062632"
            ]
        ]
    },
    {
        "id": "29e0287693227af0",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "higherboundgetter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\n\n\n\nvar json = {\"topic\":\"upperbound\",\n    \"payload\": p[\"upperBound\"] \n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "fb15a0964089df98"
            ]
        ]
    },
    {
        "id": "fb15a0964089df98",
        "type": "ui_slider",
        "z": "26da8ec8a60a9d75",
        "name": "setlupperHumidityBound",
        "label": "Upper humid bound",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 12,
        "width": "8",
        "height": "2",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "40",
        "max": "80",
        "step": "0.1",
        "className": "",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "f259309163901899"
            ]
        ]
    },
    {
        "id": "f259309163901899",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "send highbound",
        "topic": "box/control/dehumidifier/upper",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1140,
        "y": 560,
        "wires": []
    },
    {
        "id": "3fe3036e4da1774b",
        "type": "delay",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "0c5d1ad61cebc300"
            ]
        ]
    },
    {
        "id": "13fcf2883393898a",
        "type": "debug",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "04406821e76d86e2",
        "type": "ui_switch",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "label": "Heater state",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 15,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 830,
        "y": 420,
        "wires": [
            [
                "1baefbd031bed57d"
            ]
        ]
    },
    {
        "id": "02b9363055f7cf39",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "heaterStateGetter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"heaterState\"] == 0) {\n    value  = \"off\"\n}\nif (p[\"heaterState\"] == 1) {\n    value  = \"on\"\n}\n\n\n\nvar json = {\"topic\":\"autoDehumidifier\",\n    \"payload\": value\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 420,
        "wires": [
            [
                "04406821e76d86e2",
                "2eb62767d4a8bafd"
            ]
        ]
    },
    {
        "id": "1baefbd031bed57d",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "topic": "box/control/heater",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "2eb62767d4a8bafd",
        "type": "debug",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc92b3f74aed4f6a",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "fan power getter",
        "func": "var p = JSON.parse(msg.payload)\n\n\nvar json = {\"topic\":\"fanPower\",\n    \"payload\": p[\"fan\"] \n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 700,
        "wires": [
            [
                "15b87b99c0fefd4a",
                "42f49d5e6049d286",
                "b7d529bf022fca42"
            ]
        ]
    },
    {
        "id": "e9cf2082b06a64a3",
        "type": "ui_button",
        "z": "26da8ec8a60a9d75",
        "name": "Stir button",
        "group": "49b8362b1f102d88",
        "order": 2,
        "width": "12",
        "height": "1",
        "passthru": true,
        "label": "Stir",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10000",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 1140,
        "wires": [
            [
                "b6eab7de040e4c93"
            ]
        ]
    },
    {
        "id": "b6eab7de040e4c93",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "Stir",
        "topic": "box/control/vibe",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 770,
        "y": 1100,
        "wires": []
    },
    {
        "id": "15b87b99c0fefd4a",
        "type": "ui_numeric",
        "z": "26da8ec8a60a9d75",
        "name": "Fan power text",
        "label": "fan power",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 7,
        "width": "6",
        "height": "1",
        "wrap": true,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 860,
        "y": 700,
        "wires": [
            [
                "5d73c6ba0deb6825"
            ]
        ]
    },
    {
        "id": "b7d529bf022fca42",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "fanpowerchart",
        "group": "49b8362b1f102d88",
        "order": 3,
        "width": "12",
        "height": "5",
        "label": "fan power",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf8894732effdbe",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "VPD getter",
        "func": "var p = JSON.parse(msg.payload)\n\nvar h = p[\"RH\"] /100\nvar T = p[\"T\"] *1\n\n//node.warn([\"humdity=\",h]);\n//node.warn([\"temp=\",T]);\n\n\n\nvpl = 0.61078 * Math.exp(17.27 * T / (T + 237.3))\n\nvpa = 0.61078 * Math.exp(17.27 * T / (T + 237.3)) * h\n\n\nvpd = vpl - vpa\n//node.warn(vpd)\n\nvar json = {\"topic\":\"VPD\",\n    \"payload\": vpd\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 740,
        "wires": [
            [
                "36097947e9959ab7"
            ]
        ]
    },
    {
        "id": "36097947e9959ab7",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "VPDChart",
        "group": "49b8362b1f102d88",
        "order": 16,
        "width": "10",
        "height": "5",
        "label": "VPD",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#b4cdee",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "185e3b9fcda98629",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "reset getter",
        "func": "var json;\n\nif(msg.payload == \"hi\"){\n    json = {\"topic\":\"resets\",\n    \"payload\": 1 }\n} else {\n    json = {\"topic\":\"resets\",\n    \"payload\": 0 }\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 240,
        "wires": [
            [
                "7843d0e0f6b4f696"
            ]
        ]
    },
    {
        "id": "7843d0e0f6b4f696",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "Reset charts",
        "group": "49b8362b1f102d88",
        "order": 20,
        "width": "9",
        "height": "5",
        "label": "Resets",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2677472d112fdc1c",
        "type": "ui_numeric",
        "z": "26da8ec8a60a9d75",
        "name": "Target Vpd",
        "label": "Target VPD",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 17,
        "width": "6",
        "height": "2",
        "wrap": true,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "0.5",
        "max": "1.6",
        "step": "0.1",
        "className": "",
        "x": 830,
        "y": 920,
        "wires": [
            [
                "d48c98512a9cbbf9"
            ]
        ]
    },
    {
        "id": "d48c98512a9cbbf9",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "topic": "box/control/targetVpd",
        "qos": "",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1160,
        "y": 920,
        "wires": []
    },
    {
        "id": "976d97f1993b16a4",
        "type": "ui_switch",
        "z": "26da8ec8a60a9d75",
        "name": "auto vpd switch",
        "label": "auto Vpd Control",
        "tooltip": "",
        "group": "49b8362b1f102d88",
        "order": 14,
        "width": "6",
        "height": "2",
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 900,
        "y": 300,
        "wires": [
            [
                "58a69d33dceb6b59"
            ]
        ]
    },
    {
        "id": "7d4499b1d1f43b66",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "auto vpd dehumidifer control getter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\nif(!p.hasOwnProperty(\"autoVpd\")){return;}\n\nvar value =\"\"\nif (p[\"autoVpd\"]) {\n    value  = \"on\"\n}\nelse{\n    value  = \"off\"\n}\n\n//node.warn(\"got autoVpd is \"+ value)\n\nvar json = {\"topic\":\"autoVpd\",\n    \"payload\": value\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "976d97f1993b16a4"
            ]
        ]
    },
    {
        "id": "58a69d33dceb6b59",
        "type": "mqtt out",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "topic": "box/control/dehumidifier/autoVpd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "67b58dab33c9118c",
        "x": 1200,
        "y": 300,
        "wires": []
    },
    {
        "id": "bd1455aba8d69b12",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "reset catcher",
        "func": "if(msg.payload == \"hi\"){\n    return;\n} \nelse {\n    \n    global.set(\"lastpayload\",Date.now());\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "10d1b97823cb29e9",
                "3fe3036e4da1774b",
                "86991f0964e90108",
                "c17e7f1d49086e7f",
                "d5c31c65e2b3e2fe",
                "fc34d514afc4651b",
                "7d4499b1d1f43b66",
                "2079b9a05a59e9c0",
                "02b9363055f7cf39",
                "29e0287693227af0",
                "7fbf4177de5abb5e",
                "fc92b3f74aed4f6a",
                "bbf8894732effdbe",
                "1eb8e6edb9e96d86",
                "79817aeb50add8ba"
            ]
        ]
    },
    {
        "id": "e7c49100f19e6aab",
        "type": "debug",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "1eb8e6edb9e96d86",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "targetVPD getter",
        "func": "var p = JSON.parse(msg.payload)\n\n\nvar json = {\"topic\":\"targetVPD\",\n    \"payload\": p[\"targetVpd\"]\n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 920,
        "wires": [
            [
                "2677472d112fdc1c"
            ]
        ]
    },
    {
        "id": "626124e1112ff74b",
        "type": "inject",
        "z": "26da8ec8a60a9d75",
        "name": "missing controller checker",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1020,
        "wires": [
            [
                "9ef143a7d6578b99"
            ]
        ]
    },
    {
        "id": "e03ff1ccdfb68112",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "Timediff",
        "func": "var lastpayload = global.get(\"lastpayload\");\n\n\ndiff = Date.now() - lastpayload\nnode.warn(\"last communication from controller was @ \" + new Date(lastpayload) +\"\\n\"+ diff /1000 + \" seconds ago \")\n\nmaxTimeNoCommunicationMins = 20\n\nmsg.payload = {}\nmsg.payload.chatId = msg.TelegramClientID\nmsg.payload.type = \"message\"\nmsg.payload.content = \"hello from node-red!\"\n\n\nif( diff /1000 < maxTimeNoCommunicationMins* 60 ){\n    return 0;\n} else {\n    \n    msg.payload.content = \"No response from grow controller for \"+maxTimeNoCommunicationMins+\" mins\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 1020,
        "wires": [
            [
                "81fdec7aaed70467"
            ]
        ]
    },
    {
        "id": "cb11736175da6329",
        "type": "debug",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1260,
        "wires": []
    },
    {
        "id": "315891178173b158",
        "type": "telegram sender",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "bot": "353ee16983fbc803",
        "haserroroutput": false,
        "outputs": 1,
        "x": 990,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "cbf02c2271b83d6e",
        "type": "inject",
        "z": "26da8ec8a60a9d75",
        "name": "co2 level checker",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "19150e2af476eb60"
            ]
        ]
    },
    {
        "id": "19150e2af476eb60",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "Checkco2level",
        "func": "var co2 = global.get(\"co2\");\n\n\nif(co2 < 800){\n    msg.payload = 10000\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "b6eab7de040e4c93"
            ]
        ]
    },
    {
        "id": "81fdec7aaed70467",
        "type": "delay",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 800,
        "y": 1020,
        "wires": [
            [
                "315891178173b158"
            ]
        ]
    },
    {
        "id": "285f16c0844113c5",
        "type": "inject",
        "z": "26da8ec8a60a9d75",
        "name": "UI update",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1240,
        "wires": [
            [
                "d59f386dcc9ec205"
            ]
        ]
    },
    {
        "id": "42b30b567493f954",
        "type": "ui_text",
        "z": "26da8ec8a60a9d75",
        "group": "49b8362b1f102d88",
        "order": 18,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Last communication:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 1220,
        "wires": []
    },
    {
        "id": "d59f386dcc9ec205",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "secondsSinceLastPayload",
        "func": "var lastpayload = global.get(\"lastpayload\");\n\nvar longestdiff = global.get(\"longestDiff\");\n\nif(longestdiff == false){\n    longestdiff =0;\n}\n\ndiff = Date.now() - lastpayload\nmsg.payload = (diff/ 1000) + \" seconds ago\"\n\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"lastDiff\", 0);",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "42b30b567493f954",
                "cb11736175da6329"
            ]
        ]
    },
    {
        "id": "32f25dab62cbe53a",
        "type": "ui_chart",
        "z": "26da8ec8a60a9d75",
        "name": "",
        "group": "49b8362b1f102d88",
        "order": 21,
        "width": "9",
        "height": "5",
        "label": "Ram chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 270,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "79817aeb50add8ba",
        "type": "function",
        "z": "26da8ec8a60a9d75",
        "name": "ram Getter",
        "func": "\nvar p = JSON.parse(msg.payload)\n\n\n\n\n\nvar json = {\"topic\":\"ram\",\n    \"payload\": p[\"ram\"] \n}\n\n\nreturn json\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 600,
        "wires": [
            [
                "32f25dab62cbe53a"
            ]
        ]
    },
    {
        "id": "9ef143a7d6578b99",
        "type": "credentials",
        "z": "26da8ec8a60a9d75",
        "name": "TargettelegramchatID",
        "props": [
            {
                "value": "TelegramClientID",
                "type": "msg"
            }
        ],
        "x": 400,
        "y": 1020,
        "wires": [
            [
                "e03ff1ccdfb68112"
            ]
        ]
    },
    {
        "id": "e0d2a11bf3985498",
        "type": "ui_spacer",
        "z": "26da8ec8a60a9d75",
        "name": "spacer",
        "group": "49b8362b1f102d88",
        "order": 19,
        "width": "20",
        "height": "1"
    },
    {
        "id": "67b58dab33c9118c",
        "type": "mqtt-broker",
        "name": "MQHIVE",
        "broker": "fa0e1a004876435d9dd9ccca0e0d3a83.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "fan",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "49b8362b1f102d88",
        "type": "ui_group",
        "name": "Environment",
        "tab": "b784527878a002f6",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "353ee16983fbc803",
        "type": "telegram bot",
        "botname": "EnvironControllerAlert_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "b784527878a002f6",
        "type": "ui_tab",
        "name": "environ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]