Mobile.json
[{"id":"cfd9508376924a99","type":"tab","label":"Mobile","disabled":false,"info":"","env":[]},{"id":"0dbe316ad859976b","type":"mqtt in","z":"cfd9508376924a99","name":"EnvironIngest","topic":"box/environ","qos":"2","datatype":"auto","broker":"67b58dab33c9118c","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":180,"wires":[["f7a8d2a6668e5d93","08079d9275ba323e","0295eb53e9b12c4c","7b3f7d572c4ed3fd"]]},{"id":"f10898c84cf4b196","type":"function","z":"cfd9508376924a99","name":"tempGetter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar json = {\"topic\":\"temp\",\n    \"payload\":p[\"T\"]\n}\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":40,"wires":[["0ae6192ce5db15be"]]},{"id":"f7a8d2a6668e5d93","type":"function","z":"cfd9508376924a99","d":true,"name":"Environ to console","func":"\n\nconsole.log(msg.payload)\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":80,"wires":[[]]},{"id":"4eeccefa54bc7c08","type":"function","z":"cfd9508376924a99","name":"co2getter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar json = {\"topic\":\"co2\",\n    \"payload\":p[\"co2\"]\n}\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":100,"wires":[["686374b2f952e15d"]]},{"id":"a11fd5e2c720c0dc","type":"function","z":"cfd9508376924a99","name":"humidityGetter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar json = {\"topic\":\"humidity\",\n    \"payload\":p[\"RH\"]\n}\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":160,"wires":[["285671329cbb3969"]]},{"id":"a50d94d8e73df007","type":"mqtt out","z":"cfd9508376924a99","name":"exhaust power control","topic":"box/control/exhaust","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1160,"y":720,"wires":[]},{"id":"b6decfeec94f37ac","type":"function","z":"cfd9508376924a99","name":"dehumidifierStateGetter","func":"var p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"dehumidState\"]) {\n    value  = 1\n}\nelse{\n    value  = 0\n}\n\n\n\nvar json = {\"topic\":\"dehumidifierState\",\n    \"payload\":value\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":240,"wires":[["b6e5723ad2610c59","476b971bf135370c"]]},{"id":"95ca02d1263582ab","type":"function","z":"cfd9508376924a99","name":"Dehumidifier bounds getter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar boundsText = p[\"lowerBound\"] + \" - \" + p[\"upperBound\"]\n\nvar json = {\"topic\":\"bounds\",\n    \"payload\": boundsText\n}\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":640,"wires":[["4b7c794c75847cec"]]},{"id":"6ba46e480a58f252","type":"mqtt out","z":"cfd9508376924a99","name":"","topic":"box/control/dehumidifier/auto","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1180,"y":360,"wires":[]},{"id":"114402f141066075","type":"mqtt out","z":"cfd9508376924a99","name":"","topic":"box/control/dehumidifier/press","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1190,"y":240,"wires":[]},{"id":"26b5bbe03ebc2737","type":"function","z":"cfd9508376924a99","name":"automatic dehumidifer control getter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"autoDehumid\"]) {\n    value  = \"on\"\n}\nelse {\n    value  = \"off\"\n}\n\n\n\nvar json = {\"topic\":\"autoDehumid\",\n    \"payload\": value\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":360,"wires":[["e5f7ccb3cc7fb0d2"]]},{"id":"476b971bf135370c","type":"ui_switch","z":"cfd9508376924a99","name":"","label":"Dehumidifier state","tooltip":"","group":"49b8362b1f102d88","order":10,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":850,"y":260,"wires":[["114402f141066075"]]},{"id":"e5f7ccb3cc7fb0d2","type":"ui_switch","z":"cfd9508376924a99","name":"","label":"auto dehumidifier control?","tooltip":"","group":"49b8362b1f102d88","order":14,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":870,"y":360,"wires":[["6ba46e480a58f252"]]},{"id":"db825b426df9add8","type":"ui_slider","z":"cfd9508376924a99","name":"fanControlInput","label":"ExhaustPower","tooltip":"","group":"49b8362b1f102d88","order":8,"width":"6","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"className":"","x":840,"y":760,"wires":[["a50d94d8e73df007"]]},{"id":"4b7c794c75847cec","type":"ui_text","z":"cfd9508376924a99","d":true,"group":"49b8362b1f102d88","order":9,"width":"6","height":"2","name":"","label":"Dehumidifier bounds","format":"{{msg.payload}}","layout":"row-spread","className":"","x":860,"y":640,"wires":[]},{"id":"0ae6192ce5db15be","type":"ui_chart","z":"cfd9508376924a99","name":"temp","group":"49b8362b1f102d88","order":4,"width":"7","height":"4","label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":810,"y":40,"wires":[[]]},{"id":"686374b2f952e15d","type":"ui_chart","z":"cfd9508376924a99","name":"co2chart","group":"49b8362b1f102d88","order":1,"width":"7","height":"5","label":"co2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"400","ymax":"2000","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9869c3","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":100,"wires":[[]]},{"id":"285671329cbb3969","type":"ui_chart","z":"cfd9508376924a99","name":"HumidityChart","group":"49b8362b1f102d88","order":5,"width":"7","height":"5","label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"30","ymax":"90","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":160,"wires":[[]]},{"id":"b6e5723ad2610c59","type":"ui_chart","z":"cfd9508376924a99","name":"DehumidiferStateChart","group":"49b8362b1f102d88","order":6,"width":"7","height":"3","label":"Dehumidifer State","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":860,"y":220,"wires":[[]]},{"id":"dcb5d9192a9950af","type":"ui_slider","z":"cfd9508376924a99","name":"setlowerHumidityBound","label":"lower humid bound","tooltip":"","group":"49b8362b1f102d88","order":11,"width":"7","height":"1","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"40","max":"80","step":"0.1","className":"","x":870,"y":520,"wires":[["48c8f0b50ab7e15d"]]},{"id":"48c8f0b50ab7e15d","type":"mqtt out","z":"cfd9508376924a99","name":"send lowbound","topic":"box/control/dehumidifier/lower","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1140,"y":500,"wires":[]},{"id":"3990ba407b896dcb","type":"function","z":"cfd9508376924a99","name":"lowerboundgetter","func":"\nvar p = JSON.parse(msg.payload)\n\n\n\n\n\nvar json = {\"topic\":\"lowerbound\",\n    \"payload\": p[\"lowerBound\"] \n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":520,"wires":[["dcb5d9192a9950af"]]},{"id":"8833f1d7f5b02d35","type":"function","z":"cfd9508376924a99","name":"higherboundgetter","func":"\nvar p = JSON.parse(msg.payload)\n\n\n\n\nvar json = {\"topic\":\"upperbound\",\n    \"payload\": p[\"upperBound\"] \n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":560,"wires":[["1cdc4cb40ed50fbd"]]},{"id":"1cdc4cb40ed50fbd","type":"ui_slider","z":"cfd9508376924a99","name":"setlupperHumidityBound","label":"Upper humid bound","tooltip":"","group":"49b8362b1f102d88","order":12,"width":"7","height":"2","passthru":false,"outs":"end","topic":"topic","topicType":"msg","min":"40","max":"80","step":"0.1","className":"","x":870,"y":580,"wires":[["45d3af0ca779974a"]]},{"id":"45d3af0ca779974a","type":"mqtt out","z":"cfd9508376924a99","name":"send highbound","topic":"box/control/dehumidifier/upper","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1140,"y":560,"wires":[]},{"id":"c07a108e4807fe06","type":"debug","z":"cfd9508376924a99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":120,"wires":[]},{"id":"0c1e411221c68c2f","type":"ui_switch","z":"cfd9508376924a99","name":"","label":"Heater state","tooltip":"","group":"49b8362b1f102d88","order":16,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":830,"y":420,"wires":[["62e1766808ca36c1"]]},{"id":"b5fddaf1e7e77f60","type":"function","z":"cfd9508376924a99","name":"heaterStateGetter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"heaterState\"] == 0) {\n    value  = \"off\"\n}\nif (p[\"heaterState\"] == 1) {\n    value  = \"on\"\n}\n\n\n\nvar json = {\"topic\":\"autoDehumidifier\",\n    \"payload\": value\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["0c1e411221c68c2f","b72a7c58cd129b28"]]},{"id":"62e1766808ca36c1","type":"mqtt out","z":"cfd9508376924a99","name":"","topic":"box/control/heater","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1150,"y":420,"wires":[]},{"id":"b72a7c58cd129b28","type":"debug","z":"cfd9508376924a99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":480,"wires":[]},{"id":"569472c4810ad409","type":"function","z":"cfd9508376924a99","name":"fan power getter","func":"var p = JSON.parse(msg.payload)\n\n\nvar json = {\"topic\":\"fanPower\",\n    \"payload\": p[\"fan\"] \n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":680,"wires":[["65431556d0a6ab3e","db825b426df9add8","069d5a454805ad97"]]},{"id":"7753a16fe757e3d3","type":"ui_button","z":"cfd9508376924a99","name":"Vibe button","group":"49b8362b1f102d88","order":2,"width":"7","height":"1","passthru":true,"label":"Vibe","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10000","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":420,"wires":[["98458f82eaddbf0d"]]},{"id":"98458f82eaddbf0d","type":"mqtt out","z":"cfd9508376924a99","name":"Vibe","topic":"box/control/vibe","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":270,"y":420,"wires":[]},{"id":"65431556d0a6ab3e","type":"ui_numeric","z":"cfd9508376924a99","name":"Fan power text","label":"fan power","tooltip":"","group":"49b8362b1f102d88","order":7,"width":"6","height":"1","wrap":true,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"100","step":1,"className":"","x":840,"y":700,"wires":[["a50d94d8e73df007"]]},{"id":"069d5a454805ad97","type":"ui_chart","z":"cfd9508376924a99","name":"fanpowerchart","group":"49b8362b1f102d88","order":3,"width":"7","height":"5","label":"fan power","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":820,"wires":[[]]},{"id":"c5385359ba6f051e","type":"function","z":"cfd9508376924a99","name":"VPD getter","func":"var p = JSON.parse(msg.payload)\n\nvar h = p[\"RH\"] /100\nvar T = p[\"T\"] * 1\n\n//node.warn([\"humdity=\",h]);\n//node.warn([\"temp=\",T]);\n\n\n\nvpl = 0.61078 * Math.exp(17.27 * T / (T + 237.3))\n\nvpa = 0.61078 * Math.exp(17.27 * T / (T + 237.3)) * h\n\n\nvpd = vpl - vpa\n\nvar json = {\"topic\":\"VPD\",\n    \"payload\": vpd\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":740,"wires":[["8825de35c2682f0d"]]},{"id":"8825de35c2682f0d","type":"ui_chart","z":"cfd9508376924a99","name":"VPDChart","group":"49b8362b1f102d88","order":17,"width":"7","height":"5","label":"VPD","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#b4cdee","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":880,"wires":[[]]},{"id":"08079d9275ba323e","type":"function","z":"cfd9508376924a99","name":"reset getter","func":"var json;\n\nif(msg.payload == \"hi\"){\n    json = {\"topic\":\"resets\",\n    \"payload\": 1 }\n} else {\n    json = {\"topic\":\"resets\",\n    \"payload\": 0 }\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":240,"wires":[["25d3791cd7fc16ed"]]},{"id":"25d3791cd7fc16ed","type":"ui_chart","z":"cfd9508376924a99","name":"Reset charts","group":"49b8362b1f102d88","order":18,"width":"7","height":"5","label":"Resets","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":110,"y":300,"wires":[[]]},{"id":"39fbea1bb3b14555","type":"ui_numeric","z":"cfd9508376924a99","name":"Target Vpd","label":"Target VPD","tooltip":"","group":"49b8362b1f102d88","order":13,"width":"6","height":"2","wrap":true,"passthru":false,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0.5","max":"1.6","step":"0.1","className":"","x":830,"y":940,"wires":[["77b30148f573e96b"]]},{"id":"77b30148f573e96b","type":"mqtt out","z":"cfd9508376924a99","name":"","topic":"box/control/targetVpd","qos":"","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1160,"y":940,"wires":[]},{"id":"9bffef99782dbb12","type":"ui_switch","z":"cfd9508376924a99","name":"auto vpd switch","label":"auto Vpd Control","tooltip":"","group":"49b8362b1f102d88","order":15,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":880,"y":300,"wires":[["063a345ce63cc089"]]},{"id":"734ab321af71975a","type":"function","z":"cfd9508376924a99","name":"auto vpd dehumidifer control getter","func":"\nvar p = JSON.parse(msg.payload)\n\nvar value =\"\"\nif (p[\"autoVpd\"]) {\n    value  = \"on\"\n}\nelse{\n    value  = \"off\"\n}\n\n\n\nvar json = {\"topic\":\"autoVpd\",\n    \"payload\": value\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[["9bffef99782dbb12"]]},{"id":"063a345ce63cc089","type":"mqtt out","z":"cfd9508376924a99","name":"","topic":"box/control/dehumidifier/autoVpd","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"67b58dab33c9118c","x":1200,"y":300,"wires":[]},{"id":"0295eb53e9b12c4c","type":"function","z":"cfd9508376924a99","name":"reset catcher","func":"if(msg.payload == \"hi\"){\n    return;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":180,"wires":[["3990ba407b896dcb","f10898c84cf4b196","4eeccefa54bc7c08","a11fd5e2c720c0dc","b6decfeec94f37ac","734ab321af71975a","26b5bbe03ebc2737","b5fddaf1e7e77f60","8833f1d7f5b02d35","95ca02d1263582ab","569472c4810ad409","c5385359ba6f051e","2eef6370296dac6d"]]},{"id":"7b3f7d572c4ed3fd","type":"debug","z":"cfd9508376924a99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":150,"y":40,"wires":[]},{"id":"2eef6370296dac6d","type":"function","z":"cfd9508376924a99","name":"targetVPD getter","func":"var p = JSON.parse(msg.payload)\n\n\nvar json = {\"topic\":\"targetVPD\",\n    \"payload\": p[\"targetVpd\"]\n}\n\n\nreturn json\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":940,"wires":[["39fbea1bb3b14555"]]},{"id":"67b58dab33c9118c","type":"mqtt-broker","name":"MQHIVE","broker":"fa0e1a004876435d9dd9ccca0e0d3a83.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"49b8362b1f102d88","type":"ui_group","name":"Environment","tab":"b784527878a002f6","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"b784527878a002f6","type":"ui_tab","name":"environ","icon":"dashboard","disabled":false,"hidden":false}]